:root {
  --white: #ffffff;
  --dark-blue: #090032;
  --light-blue: #7152ff;
}

body {
  background-color: var(--white);
  font-family: sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* Header */
.headers {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  background-color: var(--dark-blue);
  padding:15px 0;
}
.headers h1{
  font-size:30px;
  margin-top: 0px;
  text-align: center;
  padding-bottom: 25px;
  color: var(--white);
}
.headers a{
  text-decoration:none;
}
.headers h1:hover{
  text-decoration:underline;
  cursor:pointer;
}

/* NAVIGATION  */

.navigation {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--dark-blue);
  padding-bottom:30px;
}

.navigation .left-side img {
  text-align: center;
  display: block;
  margin: auto;
  width: 200px;
}

.navigation .right-side {
  background-color: var(--dark-blue);
}

.navigation .right-side p {
  font-size: 20px;
  padding-right: 40px;
  color: var(--white);
}

@media only screen and (max-width: 750px) {
  .navigation > .left-side,
  .navigation > .right-side {
    text-align: center;
  }
  .navigation {
    grid-template-columns: 100%;
  }
  .navigation .left-side img {
    text-align: center;
    padding-right: 90px;
  }
  .navigation .right-side p {
    padding-left: 25px;
  }
}

/* ABOUT SECTION  */

.about {
  background-color: var(--white);
  padding: 25px 0;
}

.about h1 {
  color: var(--dark-blue);
  padding-left: 30px;
}

.about p {
  color: var(--dark-blue);
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width: 750px) {
  .about {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* API SECTION  */

.api h1 {
  background-color: var(--dark-blue);
  color: var(--white);
}

.api {
  display: grid;
  background-color: var(--dark-blue);
  padding: 25px 40px;
}

.api p {
  color: var(--white);
  font-size: 20px;
}

.api-data {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.api-data .data{
  padding:0 30px;
}

.api-data .data p {
  color: var(--white);
  font-size: 20px;
}

.api-data .data h3 {
  color: var(--white);
}

.api .api-list-data {
  color: var(--white);
  padding-left: 40px;
  padding-right: 40px;
}

.api .api-list-data ul li p {
  color: var(--white);
  font-size: 20px;
}

@media only screen and (max-width: 750px) {
  .api {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
  }
  .api-data {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
  }
}

/* DOWNLOAD SECTION  */

.download {
  /* background-color: var(--white); */
  display: grid;
  padding:25px 0;
}

.download h1 {
  color: var(--dark-blue);
  padding-left: 30px;
}

.download-source {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.download-source .download-info{
  position:relative;
  padding:30px 0;
}

.download-source .download-info img {
  width: 200px;
  margin: auto;
  display:block;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

.download-source .download-info img:hover{
  cursor:pointer;
}

.download-source .download-info .download-img {
  width: 125px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .download-source {
    display: block;
  }
  .download-source .download-info .download-img {
    text-align: center;
  }
  .download-source .download-info img {
    text-align: center;
  }
}

/* Footer */
.footer {
  background-color: var(--dark-blue);
  text-align: center;
  padding: 15px 0;
}
.footer h3 {
  margin: 0;
  color: var(--white);
}
.footer a {
  text-decoration: none;
  color: var(--light-blue);
}
.footer a:hover {
  text-decoration: underline;
}
